* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.updates {
    background-color: turquoise;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 1px solid red;
    min-height: 100%;
    width: 100vw;
    text-align: center;
}
.header {
    border: 1px solid red;
    justify-items: start;
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 1fr ;
    gap: 5px;

}
.header-icons {
  display: flex;
  gap: 10px;            
  align-items: center;
  justify-self: start; 
  font-size: 16px;
  margin: 4px 2px;
  gap: 20px;
  

}


.header-icons .photo,
.header-icons .dog { 
  display: inline-block; 
  vertical-align: middle;
}
.dog2 img  {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}
.dog2 {
     width: 80px;
    height: 40px;
    overflow: hidden; 
    display: inline-block;
    margin-left: 12px; 
}
.photo {
    width: 26px;
    height: 26px;
    overflow: hidden; 
    display: inline-block;
}
.dog {
    width: 40px;
    height: 40px;
    overflow: hidden; 
    display: inline-block;
}
.dog img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}
.photo img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.search {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-self: start; 
    margin-left: 30px; 
}

input.search-bar {
    border-radius: 25px;
    padding: 8px 12px;
    background-color: #D9DDDC;
    border: 1px solid #bbb;
    min-width: 300px;
    max-width: 500px;
    outline: none;
}
.sidebar {
    background: turquoise;
    display: grid;
    gap: 20px;
    align-items: start;
    border: 1px solid red;
    grid-row: 1 / 4;


}
.projects {
    border: 1px solid red;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    border: 2px solid #e0e0e0;
    gap: 15px;
}

.cards {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #cfcfcf;
    background: #ffffff;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.announcements-card {
    /* place the announcements card in column 3 and span rows 1-2 */
    grid-column: 3 / 4;
    grid-row: 1 / 3; /* occupies row 1 and 2 */
    background: #e8f6ff;
    border: 2px dashed #7dbbe6;
    padding: 12px;
    align-items: start;
}

.trending-card {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background: #fff7e6;
    border: 2px dashed #f1c27d;
    padding: 12px;
}